################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TerrainPatcher/bin/Debug
/TerrainPatcher/obj/Debug
/TerrainPatcher/bin/Release
/TerrainPatcher/obj/Release
